@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    box-sizing: border-box;
}

body, html {
    background-color: #403F37;
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

section#login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.473);

    transition: width 0.3s, height 0.3s;
    transition-timing-function: ease;
}

section#login > div#imagem {
    display: block;
    background: #403F37 url(../imagens/pexels-plato-terentev-3804555-5820749.jpg);
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
}

section#login > div#formulario {
    padding: 10px;
    display: block;
}

div#formulario > h1 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 2em;
}

div#formulario > p {
    font-size: 0.8em;
}

form > div.campo {
    background-color: #252520;
    width: 100%;
    display: block;
    height: 40px;
    border-radius: 8px;
    margin: 5px 0px 5px 0px;
}

div.campo > span {
    color: rgba(255, 255, 255, 0.562);
    font-size: 2em;
    width: 40px;
    padding: 5px;
}

div.campo label {
    display: none;
}

div.campo > input {
    background-color: #403f3781;
    font-size: 1em;
    width: calc(100% - 44px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    padding: 3px;
    transform: translate(42px, -42px);
}

div.campo > input:focus {
    background-color: white;
}

form input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: #403F37;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;

}

form input[type=submit]:hover {
    background-color: #252520;
}

form a.botao {
    text-align: center;
    display: block;
    font-size: 1em;
    width: 100%;
    padding-top: 7px;
    margin-top: 5px;
    height: 40px;
    background-color: white;
    text-decoration: none;
    color: #403F37;
    border: 1px solid #403F37;
    border-radius: 5px;
    padding-bottom: 7px;
}

form a.botao:hover {
    background-color: #252520;
}

form a.botao > i {
    font-size: 0.8em;
}